* {margin:0;padding:0;;}
html, body {height:100%;font-family:"Noto Sans KR", sans-serif;line-height:1.2;;}
li {list-style:none;}
a {text-decoration:none;}

.wrapper {display:flex;width:1903px;height:100%;margin:0 auto;background:#1b2252;}
.wrapper.ty1 {background:#ffffff;}
header {position:absolute;z-index:10;width:1903px;}
.header:after {display:block;clear:both;content:"";}
.header.on {border-bottom:1px solid #e5e5e5;background:#ffffff;}
.header.on .logo {color:#1b2252;}
.header.on nav a {color:#1b2252;}
.header.on nav li.on {background:#f7f9fd;}
.header.on nav li.on a {color:#59c6fd;}

main {display:flex;flex:2 0px;height:100%;align-items:center;justify-content:center;}
main .main_panel {margin-left:-60%;}
main .main_panel .tit {font-size:50px;color:#ffffff;line-height:1.4;}
main .main_panel .txt {font-size:30px;color:#ffffff;line-height:1.4;}
main .main_panel .more {width:210px;margin-top:74px;border:2px solid #ffffff;border-radius:25px;background:#3d4dce;font-size:16px;line-height:50px;text-align:center;}
main .main_panel .more a {color:#ffffff;}
.cpnt {margin:0 auto;}
.cpnt .tit {font-size:30px;font-weight:bold;text-align:center;margin-bottom:35px;}
.cpnt .txt {font-size:15px;color:#646b9a;}
.cpnt1 {max-width:85%;}
.cpnt1 .txt {width:60%;margin:0 auto;line-height:1.8;margin-bottom:94px;}
.cpnt1 .tab {position:relative;}
.cpnt1 .tab:after {content:"";display:block;}
.cpnt1 .tab li.on .tab_menu {border-bottom:4px solid #3c4cc9;}
/*.cpnt1 .tab li.on .tab_panel {display:block} */
.cpnt1 .tab_menu {width:25%;float:left;display:block;text-align:center;padding-bottom:26px;font-weight:bold;font-size:18px;color:#2b2e3a;}
.cpnt1 .tab_menu:before {content:url("./img/ico_tab_small.png");display:block;margin-bottom:18px;}
.cpnt1 .tab_panel {position:absolute;top:143px;width:100%;overflow:hidden;box-shadow: 0 10px 40px rgba(0,0,0,0.05);pointer-events: none;}
.cpnt1 .tab_panel .inner {position:relative;left:100%;opacity: 0;width:100%;box-sizing:border-box;padding: 64px 7% 110px 32%;}
.cpnt1 .tab_panel .inner.on {opacity: 1;left:0;}
.cpnt1 .tab_panel .inner:before {content:url("./img/ico_tab_large.png");position:absolute;margin-left: -300px;}
.cpnt1 .tab_panel .tit {font-size:25px;text-align:left;}
.cpnt1 .tab_panel .txt {width:100%;}

.logo {float:left;position:relative;z-index:20;margin-left:40px;font-size:30px;font-weight:bold;color:#ffffff;line-height:96px;}
nav {float:right;z-index:20;margin-right:375px;}
nav ul li {float:left;padding:0 25px;line-height:96px;}
nav ul li a {font-size:16px;font-weight:bold;color:#ffffff;}
.dev {display:none;position:absolute;z-index:15;left:0px;width:1903px;height:187px;background:#ffffff;}
.dev > li > a {position:absolute;top:43px;left:322px;padding:0 20px;font-weight:bold;color:#3341a6;line-height:45px;}
.dev > li.on > a {background:#f7f9fd;color:#59c6fd;}
.dev > li .panel {display:none;}
.dev > li.on .panel {display:block;}
.dev .mo > a {position:absolute;top:93px;left:322px;}
.dev li ul {position:absolute;top:36px;left:724px;}
.dev li ul li {float:left;margin:0 42px;padding:0;}
.dev li ul li a::before {display:block;width:48px;height:48px;margin:0 auto 12px;content:"";background:url("./img/ico_menu.png") no-repeat;background-position:0 0;}
.dev .web ul li + li a::before {background-position:-50px 0;}
.dev .web ul li + li + li a::before {background-position:-100px 0;}
.dev .web ul li + li + li + li a::before {background-position:-150px 0;}
.dev .web ul li + li + li + li + li a::before {background-position:-200px 0;}
.dev .web ul li + li + li + li + li + li a::before {background-position:0 -50px;}
.dev .web ul li + li + li + li + li + li + li a::before {background-position:-50px -50px;}
.dev .mo ul li a::before {background-position:-100px -50px;}
.dev .mo ul li + li a::before {background-position:-150px -50px;}
.dev .mo ul li + li + li a::before {background-position:-200px -50px;}
.dev .panel ul li a {font-weight:bold;color:#3341a6;}

aside {width:350px;height:100%;}
aside ul {flex-direction:column;height:100%;}
aside ul li {display:flex;overflow:hidden;box-sizing:border-box;width:100%;height:33.33333%;padding-top:50px;background:#3d4ecd;align-items:center;justify-content:center;}
aside ul li + li {background:#333fa6;}
aside ul li + li + li {background:#293483;}
aside ul li p {color:#ffffff;text-align:center;}
aside ul li .tit {position:relative;font-size:18px;font-weight:bold;line-height:1.4;}
aside ul li .tit:before {position:absolute;top:-70px;left:50%;content:url("./img/ico_laptop.png");transform:translateX(-50%);}
aside ul li .txt {font-size:15px;}
aside ul li .detail {max-width:148px;margin:26px auto 0;padding:12px 22px;transition:all 1s;opacity:0;border:2px solid #ffffff;border-radius:24px;font-size:18px;font-weight:bold;}
aside ul li .panel {width:80%;transition:all 1s;transform:translateY(49px);margin:0 auto;}
aside ul li:hover .panel {transform:translateY(0px);}
aside ul li:hover .detail {opacity:1;}